<body class="centered-form">
  <div class="centered-form__form">
    <form>
        <div class="form-field">
          <h1 style="font-size: 2rem !important">Join a chat</h1>
        </div>
        <div class="form-field">
          <label>Display Name</label>
          <input type="text" name="name" [(ngModel)]="name" autofocus>
        </div>
        <div class="form-field">
            <label>Room Name</label>
            <input type="text" name="room" [(ngModel)]="room">
        </div>
        <div class="form-field">
          <button type="button" (click)="join()">Join</button>
        </div>
    </form>
  </div>
</body>
